.player-container{
    height: 85vh;
    width: 100%;
    display: flex;
}
.player-container .slide-bar{
    height: 100%;
    width: 20%;
    background: linear-gradient(tranparent, black(0,0,0,1));
    background-color:black;
}
.player-container .player-playlist{
    height: 100%;
    width: 80%;
    background: linear-gradient(tranparent, black(0,0,0,1));
    background-color: rgb(31, 87, 100);
}
.footer{
   width: 100%;
   height: 100%;
   background-color: aqua;
}